<!DOCTYPE html>
<html lang="en" ng-app="zoo">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Discrete ZOO</title>

		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/img/fav/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/img/fav/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/img/fav/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/img/fav/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/img/fav/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/img/fav/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16.png">
		<link rel="apple-touch-icon" href="/img/fav/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/img/fav/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/img/fav/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/img/fav/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/img/fav/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/img/fav/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/img/fav/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/img/fav/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/fav/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/img/fav/favicon-144.png">
		<meta name="msapplication-config" content="/img/fav/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />
    <link href="dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="ui-grid/ui-grid.min.css" rel="stylesheet" />
		<link href="dist/css/zoo.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="ZooCtrl as ctrl">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="index.html">SB Admin v2.0</a> -->
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
								<li><a href="https://github.com/DiscreteZOO"><i class="fa fa-github fa-fw fa-2x"></i></a>	</li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
											<div id="logo"><img src="img/logo.svg" /></div>
                    </div> <!-- /.col-sm-12 -->
                </div> <!-- /.row -->
								<div class="row">
									<div class="col-sm-4">
										<div class="panel panel-default">
                        <div class="panel-heading">Repositories</div>
                        <div class="panel-body">
													<ul class="fa-ul">
														<li class="zoo-database"><i class="fa-li fa fa-database"></i> cubic vertex transitive graphs</li>
													</ul>
													<p ng-cloak>Results found: {{ctrl.counter}}</p>
                        </div><!-- /.panel-body -->
                    </div>
									</div> <!-- /.col-sm-4 -->
									<div class="col-sm-4">
										<div class="panel panel-default">
                        <div class="panel-heading">Selected filters
													<button class="pull-right btn btn-primary btn-xs" ng-click="ctrl.submitSearch()">Search</button>
												</div>
                        <div class="panel-body" ng-cloak>
													<form name="allProperties" novalidate>
														<ul class="fa-ul list-properties">
															<ng-form name="propertyForm">
																<li ng-repeat="property in ctrl.properties | filter:{selected: true}" ng-class="{invalid: property.type == 'Numeric' && propertyForm.conditionN.$invalid}"> <!--  ng-class="{ 'has-error' : userFieldForm.email.$invalid }" -->
																	<button type="button" ng-show="property.edit == false" ng-click="ctrl.propertyEditSwitch(property)" class="btn btn-link pull-right"><i class="fa fa-pencil"></i></button>
																	<button type="button" ng-show="property.edit == true && (property.type == 'Boolean' || !propertyForm.conditionN.$invalid)" ng-click="ctrl.propertyEditSwitch(property)" class="btn btn-link pull-right"><i class="fa fa-check"></i></button>
																	<button type="button" ng-show="property.type == 'Numeric' && (property.edit == true && propertyForm.conditionN.$invalid)" class="btn btn-link pull-right"><i class="fa fa-times"></i></button>
																	<i class="fa fa-minus" ng-click="ctrl.propertySelectSwitch(property)"></i>
																	<em ng-show="property.type == 'Boolean' && property.conditionB == false">not </em>
																	{{property.name}}
																	<em ng-show="property.type == 'Numeric' && property.conditionN.length > 0">{{property.conditionN}}</em>
																	<div class="btn-group" ng-show="property.edit == true && property.type == 'Boolean'">
																		<label class="btn btn-primary btn-xs" ng-class="{active: property.conditionB == true}" ng-model="property.conditionB" uib-btn-radio="true" ng-change="ctrl.propertyEditSwitch(property)">True</label>
																		<label class="btn btn-primary btn-xs" ng-class="{active: property.conditionB == false}" ng-model="property.conditionB" uib-btn-radio="false" ng-change="ctrl.propertyEditSwitch(property)">False</label>
																		<!-- ng-class="{active: property.conditionB}"-->
																	</div>
																	<div ng-show="property.edit && property.type == 'Numeric'">
																		<input type="text" ng-model="property.conditionN" name="conditionN" ng-pattern="ctrl.numericPropertyValidator" required>
																		<p class="help-block" ng-show="propertyForm.conditionN.$invalid">Valid expression needed, see help</p>
																		<p>{{ctrl.parsePropertyCondition(property)}}</p>
																	</div>
		                          	</li>
															</ng-form>
														</ul>
													</form>
                        </div><!-- /.panel-body -->
                    </div>
									</div> <!-- /.col-sm-4 -->
									<div class="col-sm-4">
										<div class="panel panel-default">
											<div class="panel-heading">Filters</div>
											<div class="panel-body" ng-cloak>
												<ul class="fa-ul list-properties-simple">
	                        <li ng-repeat="property in ctrl.properties | filter:{selected: false}" ng-click="ctrl.propertySelectSwitch(property)" ng-class="{'odd': $odd, 'last': $last}">
	                          <i class="fa fa-plus"></i>{{property.name}}<span class="pull-right text-muted small"><em>{{property.type}}</em></span>
	                        </li>
												</ul>
												<!--<br>
	          						<input type="text" ng-model="selected" uib-typeahead="property.name for property in ctrl.properties | filter:$viewValue | limitTo:8" class="form-control">-->
	                    </div>
										</div>
									</div> <!-- /.col-sm-4 -->
								</div> <!-- /.row -->
								<div class="row" ng-if="!ctrl.displayResults">
									<div class="col-sm-12">
										<div class="text-right" style="margin-bottom: 50px;"><a ng-href="{{ctrl.downloadURL()}}"><i class="fa fa-download fa-2x"></i></div>
										<div style="margin-bottom: 100px;">Loading results</div>
									</div>
								</div> <!-- /.row -->
								<div class="row" ng-if="ctrl.displayResults">
									<div class="col-sm-12">

										<div id="results" ng-cloak ui-grid="ctrl.zooGrid" class="grid" style="margin-bottom: 100px;"></div>
									</div>
								</div> <!-- /.row -->

            </div> <!-- /.container-fluid -->
        </div> <!-- /#page-wrapper -->

    </div> <!-- /#wrapper -->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="dist/js/sb-admin-2.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/ui-bootstrap-tpls-1.0.3.min.js"></script>
		<script src="js/ui-scroll.min.js"></script>
		<script src="ui-grid/ui-grid.min.js"></script>
		<script src="js/zooApp.js"></script>


</body>

</html>
