// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/


// - - - - - - - - - - - - - -
// Discrete Zoo colors
// - - - - - - - - - - - - - -

// Zoo orange
$zooorange: #EF6D4B;
$zooorange1: #FFB19D;
$zooorange2: #FF8F72;
$zooorange3: #DF4821;
$zooorange4: #AC300F;

// Zoo yellow
$zooyellow: #EFA34B;
$zooyellow1: #FFD19D;
$zooyellow2: #FFBE72;
$zooyellow3: #DF8721;
$zooyellow4: #AC630F;

// Zoo blue
$zooblue: #357797;
$zooblue1: #82B5CE;
$zooblue2: #5290AE;
$zooblue3: #1B688D;
$zooblue4: #0E4E6D;

// Zoo green
$zoogreen: #35AA68;
$zoogreen1: #85D9A9;
$zoogreen2: #55BF84;
$zoogreen3: #179F52;
$zoogreen4: #0B7B3B;


// - - - - - - - - - - - - - -
// Changing the theme colors
// - - - - - - - - - - - - - -

$primary: $zooorange;
$secondary: $zooblue;
$success: $zoogreen;
$info: $zooblue2;
$warning: $zooyellow3;
$danger: $zooorange3;
$light: #f5f5f5;
$dark: $zooblue4;

// Changing the body background and text
//$body-bg: #d3e9eb;
$body-color: $zooblue4;

// Additional theme colors
$theme-colors: (
  "highlight": $zooyellow2
);


// - - - - - - - - - - - - - -
// Changing the font families
// - - - - - - - - - - - - - -

// new
$font-family-serif:           'Cormorant Garamond', serif;
$font-family-heading:         'Cormorant Unicase', serif;

// overrides
$font-family-sans-serif:      'Montserrat', sans-serif;
$font-family-base:            $font-family-serif;


// - - - - - - - - - - - - - -
// Changing other settings
// - - - - - - - - - - - - - -

$navbar-nav-link-padding-x:   1rem;

$jumbotron-bg:                #ffffff;

// new
$link-icon-hover-rotate:      -15deg;
$link-icon-hover-transition:  0.3s;


// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the border radius of buttons
//$border-radius: 15px;