<!doctype html>
<html lang="en">
<head>
    
    <title>Discrete ZOO</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/zoo.min.css"> <!-- Customized bootstrap -->
    <link rel="stylesheet" href="css/zooapp.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Cormorant+Unicase:600|Montserrat&amp;subset=latin-ext" rel="stylesheet">
    
    <!-- Switch to Icomoon for deployment -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16.png">
    <link rel="manifest" href="img/fav/site.webmanifest">
    <link rel="mask-icon" href="img/fav/safari-pinned-tab.svg" color="#ef6d4b">
    <link rel="shortcut icon" href="img/fav/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Discrete ZOO">
    <meta name="application-name" content="Discrete ZOO">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link href="../intro/introjs.css" rel="stylesheet">
    
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="intro-toggle collapse" id="brand"><a class="navbar-brand" href="#!"><img src="img/logo.svg"></a></div>
<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link carets" id="intro-control" data-toggle="collapse" href=".intro-toggle" role="button" aria-expanded="true" aria-controls="introduction brand">
				Introduction <i> </i>
			</a>
		</li>
		<li class="nav-item"><a class="nav-link" href="#!">About</a></li>
		<li class="nav-item"><a class="nav-link icon-link" href="#!"><i class="fab fa-github" data-fa-transform="grow-8"></i></a></li>
	</ul>
</div>
<div id="message">
	<div id="loading">Loading</div>
</div>
</nav>
    
<main role="main" id="zooapp">

<header id="introduction" class="intro-toggle show">
<div class="container jumbotron">
<div class="row justify-content-center">
<div class="col-lg-8 text-center">
	<button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target=".intro-toggle" role="button" aria-expanded="true" aria-controls="introduction brand">
		<span aria-hidden="true">&times;</span>
	</button>
	<p><img src="img/logo.svg" width="40%"></p>
	<p class="small text-muted">A repository of discrete objects</p>
	<p class="lead mt-4">Various censuses of graphs and other objects exist on the web, and DiscreteZOO aims to give them a common home and to make them easily accessible and searchable.</p>
	<hr class="my-4">
	<p class="small text-muted"><a href=".intro-toggle" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="introduction brand">Try it</a> out or take a short guided tour.</p>
	<p><a class="btn btn-highlight btn-lg" href=".intro-toggle" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="introduction brand" role="button" href="javascript:void(0);" onclick="startIntro();">Start tour</a></p>
</div>
</div>
</div>
</header>

<section class="bg-primary" id="search" v-cloak>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-12 mx-auto my-4" id="select-type">
	<h2 class="section-heading text-white" id="step2">Search</h2>
	<div class="btn-group btn-group-toggle" id="zoo-choose-objects">
		<label class="btn btn-secondary zoo-radio-objects" v-bind:class="{ focus: objects === 'graphs' }" id="graphs">
			<input type="radio" name="objects" value="graphs" autocomplete="off" v-model="objects">
				Graphs
				<a href="#!" class="type-info"><i class="far fa-question-circle" data-fa-transform="shrink-4 up-3"></i></a>
			</label>
			<label class="btn btn-secondary zoo-radio-objects" v-bind:class="{ focus: objects === 'maniplexes' }" id="maniplexes">
				<input type="radio" name="objects" value="maniplexes" autocomplete="off" v-model="objects">
					Maniplexes
					<a href="#!" class="type-info"><i class="far fa-question-circle" data-fa-transform="shrink-4 up-3"></i></a>
				</label>
			</div>
			<div class="mx-auto my-4" id="zoo-message">
				<p class="text-white">{{searchMessage}}</p>
				<div v-if="objectsSelected">
                    <div class="form-check" v-for="c in collections[objects].available">
                        <input class="form-check-input" type="checkbox" v-bind:value="c.id" v-bind:id="'collection' + c.id"  v-model="collections[objects].selected" v-on:change="countObjects()">
                        <label class="form-check-label text-white" v-bind:for="'collection' + c.id">{{c.name}}</label>
                    </div>
                </div>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-7 mx-auto my-4" id="zoo-selected-filters">
			<div class="zoo-search-filter" v-if="objectsSelected">
				<div class="zoo-filter-box">
					<p class="text-center my-3" v-if="filters[objects].selected.length == 0">Select filters</p>
					<ul class="fa-ul" v-if="filters[objects].selected.length > 0">
						<li v-for="f in filters[objects].selected" v-bind:class="{ edit: f.edit }">
							<i v-if="!f.edit && f.value == 'false'">not </i>
							{{propertyName(f)}}
							<a href="#!" class="filter-info">
								<i class="far fa-question-circle" data-fa-transform="shrink-4 up-3"></i>
							</a>
							<i v-if="!f.edit && f.type == 'numeric'" class="zoo-numeric-condition-display">{{f.value}} </i>


							<div class="text-muted small">
								<span class="remove-button" v-on:click="removeFilterFromSelected(f.name)"><i class="fas fa-minus"></i></span>
								<span class="done-button" v-on:click="submitFilterValue(f.name)"><i class="fas fa-check"></i></span>
								<span class="edit-button" v-on:click="editFilter(f.name)"><i class="fas fa-pen"></i></span>
							</div>
							<input v-if="f.type == 'numeric' && f.edit" class="zoo-numeric-filter" type="text" v-model="f.value">
								<div v-if="f.type == 'bool' && f.edit" class="zoo-bool-filter btn-group btn-group-toggle btn-group-sm" id="zoo-choose-objects">
									<label class="btn btn-secondary" v-bind:class="{ focus: f.value === 'true' }">
										<input type="radio" v-bind:name="'filter-value-' + f.name" value="true" autocomplete="off" v-model="f.value">
											True
										</label>
										<label class="btn btn-secondary" v-bind:class="{ focus: f.value === 'false' }">
											<input type="radio" v-bind:name="'filter-value-' + f.name" value="false" autocomplete="off" v-model="f.value">
												False
											</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-5 mx-auto my-4" id="zoo-choose-filters">
						<div class="zoo-search-filter" v-if="objectsSelected">
							<div class="zoo-filter-box">
								<ul class="fa-ul">
									<li v-for="f in filters[objects].available" v-on:click="addFilterToSelected(f.name)">
										<span class="fa-li"><i class="fas fa-plus"></i></span> {{propertyName(f)}}
										<a href="#!" class="filter-info"><i class="far fa-question-circle" data-fa-transform="shrink-4 up-3"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="my-2">
					<div class="row justify-content-left">
						<div class="col-lg-8 text-white" v-if="objectsSelected">
							<p><button type="button" class="btn btn-secondary mr-3" v-on:click="displayResults();">Display results</button> Objects found: <i>{{objectCount}}</i>.</p>
						</div>
					</div>
				</div>
			</section>

			<section id="results" v-if="showResults" v-cloak>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="my-4">First sort by
							<select class="zoo-order-select" v-model="resultsOrderBy1.column">
								<option selected value="none"><i>choose a column</i></option>
								<option disabled></option>
								<option v-for="c in columns[objects][columns[objects].columnSet]" v-bind:value="c.name">{{propertyName(c)}}</option>
							</select>
							<button type="button" class="btn btn-light btn-sm" v-on:click="toggleOrder('resultsOrderBy1');">
                                <span v-if="resultsOrderBy1.order == 'ASC'">ascending</span>
                                <span v-if="resultsOrderBy1.order == 'DESC'">descending</span>
                                </button>
								, then by
								<select class="zoo-order-select" v-model="resultsOrderBy2.column" :disabled="resultsOrderBy1.column == 'none'">
									<option selected value="none"><i>choose a column</i></option>
									<option disabled></option>
									<option v-for="c in columns[objects][columns[objects].columnSet]" v-bind:value="c.name">{{propertyName(c)}}</option>
								</select>
								<button type="button" class="btn btn-light btn-sm" v-on:click="toggleOrder('resultsOrderBy2');">
									<span v-if="resultsOrderBy2.order == 'ASC'">ascending</span>
									<span v-if="resultsOrderBy2.order == 'DESC'">descending</span>
								</button>
								<button type="button" class="btn btn-primary btn-sm zoo-sort-order-select" v-on:click="displayResults();">Sort!</button>
							</p>
						</div>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col" v-for="c in columns[objects][columns[objects].columnSet]">
										{{propertyName(c)}}
										</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="r in results.data">
										<td v-for="c in columns[objects][columns[objects].columnSet]">
											{{r[c.type][c.name]}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
				</div>
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="result navigation">
							<ul class="pagination justify-content-center">
								<li class="page-item" v-if="page != 1">
									<a class="page-link" v-on:click="goToPage(1);" aria-label="First">
										<span aria-hidden="true">1</span>
										<span class="sr-only">First</span>
									</a>
								</li>
								<li class="page-item" v-if="page != 1">
									<a class="page-link" v-on:click="goToPage(page - 1);" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item" v-for="n in pagination">
									<a v-if="n != '...' && n != page" class="page-link" v-bind:class="{ 'bg-primary text-white': page == n }" v-on:click="goToPage(n)">{{n}}</a>
									<span v-if="n == '...' || n == page" class="page-link">{{n}}</span>
								</li>
								<li class="page-item" v-if="page != results.pages">
									<a class="page-link" v-on:click="goToPage(page + 1);" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
								<li class="page-item" v-if="page != results.pages">
									<a class="page-link" v-on:click="goToPage(results.pages);" aria-label="Last">
										<span aria-hidden="true">{{results.pages}}</span>
										<span class="sr-only">Last</span>
									</a>
								</li>
                                <li class="form-inline" id="zoo-page-jump">
                                    <label class="sr-only" for="jump">Jump to page:</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" aria-label="Jump to page" v-model="pageJump" id="jump" placeholder="page #">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" v-on:click="goToPage(pageJump);">Jump!</button>
                                        </div>
                                    </div>
                                </li>
							</ul>

							
						</nav>
                    </div>
                </div>
			</div>
</section>

		<footer class="bg-dark" id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 my-5 text-white">
						<div id="licence">
							<a class="icon-link fa-2x fa-pull-left" href="https://creativecommons.org/licenses/by/4.0/"><i class="fab fa-creative-commons"></i></a>
							<p>This work is licensed under a Creative Commons Attribution 4.0 International License</p>
						</div>
					</div>
					<div class="col-lg-4 my-5 text-white">

					</div>
					<div class="col-lg-4 my-5 text-white">
						<h2>Contact</h2>
					</div>
				</div>
			</div>
		</footer>

	</main>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed
<script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<script src="intro/intro.js" rel="stylesheet"></script>
<script src="intro/zoo.js" rel="stylesheet"></script>
<script src="js/zooApp.js" rel="stylesheet"></script>
<script>
$(document).ready(function() {
    function windowWidthSettings() { // Function to handle changes to style classes based on window width
        // sm-md: 768, md-lg: 992
        if ($(window).width() < 768 || $(window).width() >= 992) { 
            $('#zoo-choose-objects').removeClass('btn-group-vertical').addClass('btn-group');
        }
        if ($(window).width() >= 768 && $(window).width() < 992) {
            $('#zoo-choose-objects').removeClass('btn-group').addClass('btn-group-vertical');
        };
    }
    windowWidthSettings(); // Execute on load
    $(window).resize(windowWidthSettings); // Bind event listener
});
</script>


</body>
</html>
